/* Main CSS file */
.btn-icon {
    background: none;
    border: none;
    color: #aaa;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
}
.btn-icon:focus {
    color: #777;
}
.btn-icon:hover {
    color: #777;
}
.btn-active-up{
    color: green;
}
.btn-active-up:focus {
    color: darkgreen;
}
.btn-active-up:hover {
    color: green;
}
.btn-active-down{
    color: red;
}
.btn-active-down:focus {
    color: darkred;
}
.btn-active-down:hover {
    color: red;
}
div.vote-container {
    padding: 0 15px 0 0;
}
p.questionText {
    font-weight: normal;
    font-size: 1.78rem;
    margin-bottom: 0;
}
p.answerText {
    font-weight: normal;
    font-size: 1.78rem;
}
.modal {
    text-align: center;
}
@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.bg-success {
    background-color: #DFF0D8;
}
.text-muted {
    color: #555;
}
button.verifier {
    position: absolute;
    bottom: 4px;
    right: 14px;
    z-index: 2;
}
button.verified {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 4px;
}
button.verified:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
a.reveal-box {
    font-size: 24px;
    padding: 3rem;
    background-color: #ddd;
}
a.reveal-box:hover {
    background-color: #ccc;
}
/* Bootstrap theme changes */
.navbar {
    margin-bottom: 0;
    font-family: sans-serif;
}
.navbar-header {
    padding-top: 0.23rem;
}
.navbar-inverse {
    background: var(--primary);
    border-color: var(--primary);
}
.navbar-inverse .navbar-brand {
    color: var(--secondary);
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: var(--secondary);
    background-color: transparent;
}
.navbar-inverse .navbar-text {
    color: var(--secondary);
}
.navbar-inverse .navbar-nav > li > a {
    color: var(--secondary);
}
.navbar-inverse .navbar-nav > li > p {
    color: var(--secondary);
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: var(--secondary);
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: var(--secondary);
    background: var(--primary);
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
    color: var(--secondary);
    background: transparent;
}
.navbar-inverse .navbar-toggle {
    border-color: var(--secondary);
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background: var(--primary);
}
.navbar-inverse .navbar-toggle .icon-bar {
    background: var(--secondary);
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: var(--secondary);
    background: var(--primary);
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background: var(--primary);
    border-color: var(--secondary);
    color: var(--secondary);
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: var(--secondary);
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > p {
        color: var(--secondary);
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: var(--secondary);
        background: transparent;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: var(--secondary);
        background: var(--primary);
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: var(--secondary);
        background: transparent;
    }
}
.navbar-inverse .navbar-link {
    color: var(--secondary);
}
.navbar-inverse .navbar-link:hover {
    color: var(--secondary);
}
.navbar-inverse {
    border: none;
    border-radius: 0;
}
.navbar-inverse .nav > li {
    font-size: 1.63rem;
    margin-top: 0.43rem;
    margin-bottom: 0.43rem;
    padding: 0 0.43rem;
}
.navbar-inverse .nav > li > a {
    border-bottom: 2px solid transparent;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.43rem;
    margin-left: 1.07rem;
    margin-right: 1.07rem;
    margin-bottom: 0.43rem;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    font-size: 1.84rem;
    opacity: 1;
}
.navbar-inverse .nav > li > a:active,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus {
    background-color: var(--primary);
    color: var(--secondary);
    opacity: 1;
}
.navbar-inverse .nav > li:hover > a,
.navbar-inverse .nav > li:focus > a,
.navbar-inverse .nav > li.active > a,
.navbar-inverse .nav > li.active:hover > a,
.navbar-inverse .nav > li.active:focus > a {
    border-bottom-color: var(--secondary);
    opacity: 1;
}
.navbar-default {
    background: var(--secondary);
    border-color: var(--primary);
}
.navbar-default .navbar-brand {
    color: var(--primary);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: var(--primary);
    background-color: transparent;
}
.navbar-default .navbar-text {
    color: var(--primary);
}
.navbar-default .navbar-nav > li > a {
    color: var(--primary);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: var(--primary);
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: var(--primary);
    background: var(--secondary);
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
    color: var(--primary);
    background: transparent;
}
.navbar-default .navbar-toggle {
    border-color: var(--primary);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: var(--secondary);
}
.navbar-default .navbar-toggle .icon-bar {
    background: var(--primary);
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: var(--primary);
    background: var(--secondary);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background: var(--secondary);
    border-color: var(--primary);
    color: var(--primary);
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: var(--primary);
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: var(--primary);
        background: transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: var(--primary);
        background: var(--secondary);
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: var(--primary);
        background: transparent;
    }
}
.navbar-default .navbar-link {
    color: var(--primary);
}
.navbar-default .navbar-link:hover {
    color: var(--primary);
}
.navbar-default {
    border: none;
    border-radius: 0;
}
.navbar-default .nav > li {
    font-size: 1.63rem;
    margin-top: 0.43rem;
    margin-bottom: 0.43rem;
    padding: 0 0.43rem;
}
.navbar-default .nav > li > a {
    border-bottom: 2px solid transparent;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.43rem;
    margin-left: 1.07rem;
    margin-right: 1.07rem;
    margin-bottom: 0.43rem;
}
.navbar-default .nav > li > p {
    border-bottom: 2px solid transparent;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.43rem;
    margin-left: 1.07rem;
    margin-right: 1.07rem;
    margin-bottom: 0.43rem;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    font-size: 1.84rem;
    opacity: 1;
}
.navbar-default .nav > li > a:active,
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
    background-color: var(--secondary);
    color: var(--primary);
    opacity: 1;
}
.navbar-default .nav > li:hover > a,
.navbar-default .nav > li:focus > a,
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active:hover > a,
.navbar-default .nav > li.active:focus > a {
    border-bottom-color: var(--primary);
    opacity: 1;
}
@media (max-width: 767px) {
    .nav > li:hover > a,
    .nav > li:focus > a,
    .nav > li.active > a,
    .nav > li.active:hover > a,
    .nav > li.active:focus > a {
        border-bottom-color: transparent;
    }
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0.43rem;
}
.navbar-nav > li.dropdown > a img {
    height: 3.35rem;
}
.navbar-default .nav > li.dropdown > a.dropdown-img,
.navbar-inverse .nav > li.dropdown > a.dropdown-img {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.flx-cntnr {
    display: flex;
    position: relative;
}
.flx-row {
    flex-direction: row;
}
.flx-nowrap {
    flex-wrap: nowrap;
}
.flx-start {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.flx-grow-all {
    flex-grow: 1;
}
.flx-grow-1 {
    flex-grow: 1;
}
.flx-grow-2 {
    flex-grow: 2;
}
#flashmessages {
    position: relative;
}
.alert-banner {
    position: absolute;
    width: 100%;
    padding-top: 0.71rem;
    padding-bottom: 0.57rem;
    font-size: 1.23rem;
    line-height: 1.93rem;
    z-index: 2;
}
.alert-banner > .container > .close {
    margin-right: 0.57rem;
}
#toolTitle {
    margin-top: 3.23rem;
}
.splash-container {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.splash-content {
    text-align: center;
    color: var(--secondary);
}
h1.splash-header {
    color: var(--secondary);
}
.splash-container {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.splash-content {
    text-align: center;
}

/* https://stackoverflow.com/questions/23001424/how-do-i-get-rid-of-this-blue-halo-around-the-close-dialog-button-with-jqueryui */

.ui-button:focus { outline:none !important }

.checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
}