/* Main CSS file */
.btn-icon {
    background: none;
    border: none;
    color: #aaa;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
}
.btn-icon:focus {
    color: #777;
}
.btn-icon:hover {
    color: #777;
}
.btn-active-up{
    color: green;
}
.btn-active-up:focus {
    color: darkgreen;
}
.btn-active-up:hover {
    color: green;
}
.btn-active-down{
    color: red;
}
.btn-active-down:focus {
    color: darkred;
}
.btn-active-down:hover {
    color: red;
}
div.vote-container {
    padding: 0 15px 0 0;
}
p.questionText {
    font-weight: normal;
    font-size: 1.78rem;
    margin-bottom: 0;
}
p.answerText {
    font-weight: normal;
    font-size: 1.78rem;
}
.modal {
    text-align: center;
}
@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.bg-success {
    background-color: #DFF0D8;
}
.text-muted {
    color: #555;
}
button.verifier {
    position: absolute;
    bottom: 4px;
    right: 14px;
    z-index: 2;
}
button.verified {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 4px;
}
button.verified:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
a.reveal-box {
    font-size: 24px;
    padding: 3rem;
}